/* Styles */
        
        body{
            background-color: snow;
        }
        .head{
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            color: purple;
        }
        
        
        .tbl {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .cptn{
            font-size: 30px;
            font-weight: bold;
            color: blueviolet;
        }
        .month{
            font-size: 20px;
            font-weight: bold;
            color:goldenrod;
        }
        .clr{
            background-color: turquoise;
        }
        .clr-one{
            background-color: blueviolet;
        }
        .clr-gr{
            background-color: green;
        }
        .clr-red{
            background-color: red;
        }
        .clr-null{
            background-color: burlywood;
        }
